<mat-toolbar color="primary" class="expanded-toolbar">
    <button mat-button routerLink="/">{{ title }}</button>

    <div fxLayout="row" fsShow="false" fsShow.gt-sm>
        <button mat-button routerLink="/users">Users</button>
        <button mat-button routerLink="/messages">Messages</button>
        <button mat-button routerLink="/">Login</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-button routerLink="/users">Users</button>
    <button mat-button routerLink="/messages">Messages</button>
    <button mat-button routerLink="/">Login</button>
</mat-menu>
<router-outlet></router-outlet>
