/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 0;
    font-family: sans-serif;
}

.expanded-toolbar {
    justify-content: space-between;
}

h1 {
    text-align: center;
}
