<div class="hero">
    <div>
        <form>
  <div class="group">
    <input type="text" [(ngModel)]="user.email" name="user.email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <div class="group">
    <input type="password" [(ngModel)]="user.password" name="user.password"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <button type="button" class="button buttonBlue" name="submit" (click)="login()">Login
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
    </div>
</div>
